{% extends 'layouts/base.html' %}
{% block section1 %} Principal {% endblock section1 %}
{% block section2 %} Principal {% endblock section2 %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header pb-0">
                    <h1>Cursos IFRN</h1>
                </div>
                <div class="card-body">
                    O sistema "Cursos IFRN" tem como intuito apresentar os cursos do IFRN para todos.
                </div>
            </div>
        </div>
    </div>
{% endblock content %}	