{% extends 'layouts/base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1>Sobre os componentes aqui</h1>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur maiores officia labore commodi exercitationem dicta, earum pariatur explicabo expedita. Impedit iusto sapiente vitae suscipit, nulla dolor eveniet soluta doloribus laboriosam.
                </div>
            </div>
        </div>
    </div>
{% endblock content %}	