{% extends 'layouts/base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="d-flex justify-content-between">
                    <h1 class="fs-5">Cursos</h1>                    
                    <a class="btn btn-sm btn-primary" href="{% url 'curso.create' %}">Novo Curso</a>
                </div>
                
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome do curso
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Modalidade</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if cursos %}
                                {% for curso in cursos %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">                                    
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm"></h6>
                                                <p class="text-xs text-secondary mb-0">{{ curso.nome }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    
                                    <td class="align-middle">
                                        <span class="text-secondary text-xs font-weight-bold">{{ curso.modalidade }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="{% url 'curso.update' curso.pk %}" class="text-secondary font-weight-bold text-xs"
                                            data-toggle="tooltip" data-original-title="Editar curso">
                                            Editar
                                        </a> 
                                        |
                                        <a href="{% url 'curso.delete' curso.pk %}" class="text-secondary font-weight-bold text-xs"
                                            data-toggle="tooltip" data-original-title="Apagar curso">
                                            Apagar
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="ps-4">Não há nada para mostrar.</td>
                                </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}